body {
	font-family: Arial;
	text-align: center;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.clearfix {
	overflow: auto;
}

.clearfix {
	display: inline-block;
}

.clearfix:after {
	content: '';
	visibility: hidden;
	display: block;
	font-size: 0;
	clear: both;
	height: 0;
}

#header, #footer {
	width: 100%;
	clear: both;
}

#header .content {
	border: 2px solid;
	padding: 40px 20px;
	margin: 0px;
}

#col-left, #col-mid, #col-right {
	display: inline-block;
	float: left;
}

#col-left {
	width: 33.33333%;
}

#col-left .content {
	border: 2px solid;
	padding: 40px 20px;
	margin: 0px;
}

#col-mid {
	width: 33.33333%;
}

#col-mid .content {
	border: 2px solid;
	padding: 40px 20px;
	margin: 0px;
}

#col-right {
	width: 33.33333%;
}

#col-right .content {
	border: 2px solid;
	padding: 40px 20px;
	margin: 0px;
}

#footer .content {
	border: 2px solid;
	padding: 40px 20px;
	margin: 00px;
}

@media only screen and (max-width: 767px) {
	#col-left, #col-mid, #col-right {
		width: 100%;
	}
}